includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    tmpDir: storage/framework/cache/phpstan
    level: 1 
    paths:
        - app
        - config
        - database
        - routes

    excludePaths:
        - tests/*/data/*
        - database/migrations/*

