includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    tmpDir: storage/framework/cache/phpstan
    level: 2 
    paths:
        - app
        - config
        - database
        - routes

    excludePaths:
        - tests/*/data/*
        - database/migrations/*
        - 'config/forum.web.php'  
        - 'app/Forum/*'          
        
